DB_USER=pleroma
DB_PASS=pleroma
DB_HOST=pleroma-db
DB_NAME=pleroma
INSTANCE_NAME=Pleroma
ADMIN_EMAIL=admin@ops.pleroma.social
NOTIFY_EMAIL=pleroma+admin@ops.pleroma.social
DOMAIN=ops.pleroma.social
PORT=4000
